<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.hbq969.code.sm.login.dao.LoginDao">
    <update id="createUsers">
        CREATE TABLE h_users
        (
            app varchar2 (255) NOT NULL,
            username VARCHAR2 (255) NOT NULL UNIQUE,
            password VARCHAR2 (255) NOT NULL,
            role_name VARCHAR2 (255) NOT NULL,
            created_at NUMBER (20),
            updated_at NUMBER (20),
            primary key (app, username)
        )
    </update>

    <update id="createRoles">
        CREATE TABLE h_roles
        (
            app varchar2 (255) NOT NULL,
            name VARCHAR2 (255) NOT NULL,
            description VARCHAR2 (500),
            created_at NUMBER (20),
            updated_at NUMBER (20),
            primary key (app, name)
        )
    </update>

    <update id="createMenus">
        CREATE TABLE h_menus
        (
            app varchar2 (255) NOT NULL,
            name VARCHAR2 (255) NOT NULL,
            menu_desc VARCHAR2 (255),
            url VARCHAR2 (1024),
            parent_key varchar2 (255) DEFAULT '0',
            menu_level NUMBER (2) DEFAULT 1,
            order_index NUMBER (10) DEFAULT 0,
            icon_name varchar2 (255) DEFAULT 'LogIcon',
            created_at NUMBER (20),
            updated_at NUMBER (20),
            primary key (app, name)
        )
    </update>

    <update id="createRoleMenus">
        CREATE TABLE h_role_menus
        (
            app varchar2 (255) NOT NULL,
            role_name varchar2 (255) NOT NULL,
            menu_name varchar2 (255) NOT NULL,
            primary key (app, role_name, menu_name)
        )
    </update>
</mapper>